.exercisesFieldArray {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    margin: 30px 0;
}

.exercisesFieldArrayTitle {
    width: 100%;

    text-align: left;
    text-transform: uppercase;

    font-size: 1.5em;
    color: #fff;
}

.exercisesFieldArrayElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 30px;
}

.exercisesFieldArray > button {
    align-self: flex-start;
    margin: 10px 10px 10px 0;
    padding: 7px;

    background-color: #99ff99;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;

    cursor: pointer;
}

.exercisesFieldArray > button:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.exercisesFieldArray > button:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.exercisesFieldArrayElement > button {
    margin: 10px 10px 10px 0;
    padding: 7px;

    background-color: #ff7979;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;

    cursor: pointer;
}

.exercisesFieldArrayElement > button:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.exercisesFieldArrayElement > button:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}
