.imageUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    margin: 20px 0;
}

.imageUploadLabel {
    display: inline-block;
    width: 100%;
    padding: 10px;

    background-color: #fff;
    border-radius: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;

    text-align: center;

    cursor: pointer;
}

.imageUploadLabel:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.imageUploadLabel:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.imageUploadInput {
    width: 0;
    height: 0;
}

.imageUploadStatus {
    padding: 5px 5px 5px 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
}

.imageUploadStatusSuccess {
    color: #99ff99;
}

.imageUploadStatusError {
    color: #ff3939;
}