.trainingBody {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
}

.screensControl {
    width: 5%;

    color: white;
    font-size: 3em;

    cursor: pointer;
}

.screensControl:first-child {
    text-align: right;
}

.screensControl:last-child {
    text-align: left;
}
