.trainingWidget {
    position: relative;
    overflow: hidden;

    width: 95%;
    max-width: 600px;
    margin: 1em;
    padding: .5em;

    background: no-repeat center/cover url("/src/images/placeholder.jpg") darkgrey;
    border-radius: 30px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 1);

    font-family: 'Open Sans', sans-serif;

    text-align: left;
}

.trainingWidget:nth-of-type(n) {
    background-image: url("/src/images/training/trainings.jpg");
}

.trainingWidget:nth-of-type(2n) {
    background-image: url("/src/images/training/training2.jpg");
}

.trainingWidget:nth-of-type(3n) {
    background-image: url("/src/images/training/training3.jpg");
}

.trainingWidget:nth-of-type(4n) {
    background-image: url("/src/images/training/training4.jpg");
}

.trainingWidget::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.trainingWidgetTitle {
    position: relative;
    z-index: 1;

    margin: 10px;

    color: white;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.trainingTitle{
    position: relative;
    z-index: 1;

    margin: 10px;

    color: white;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.trainingWidgetContent {
    position: relative;
    z-index: 1;

    margin: 10px;
    padding-left: 1em;

    line-height: 2em;
    text-transform: none;
}

.trainingWidgetContent::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    border-left: 4px solid white;
}

.widgetExercises {
    display: block;

    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
}

.widgetSize {
    grid-column-start: span 2;
    grid-row-start: span 6;
}
