.progressBody {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
}

.screensControl {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5%;

    color: white;
    font-size: 3em;

    transition: 0.5s all;
    cursor: pointer;
}
