.widgetScreen {
    flex-shrink: 0;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    justify-items: center;

    width: 100%;
    height: 100%;
}