.infoField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 60%;
    margin: 20px 0;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.infoFieldLabel {
    margin: 10px 10px 10px 0;

    font-size: 1.5em;
    font-weight: 600;
}

.infoFieldValue {
    margin: 10px 10px 10px 0;

    font-size: 1.2em;
    font-weight: 400;
}