.defaultTrainingForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    overflow-y: scroll;
}

.defaultTrainingForm > *{margin: 20px 0px}

.defaultTrainingForm::-webkit-scrollbar {
    display: none;
}

.defaultTrainingFormTitle {
    width: 100%;
    margin-top: 20px;

    text-align: center;
    text-transform: uppercase;

    font-size: 2em;
    color: #fff;
}

.defaultTrainingContent {
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: block;
    /*font-family: 'Open Sans', sans-serif;*/
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
}

.defaultTrainingTypeSelect {
    margin: 5px 5px 5px 0;
    padding: 7px;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    cursor: pointer;
}

.defaultTrainingTypeSelect:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.defaultTrainingTypeSelect:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}