.goalWidget {
    position: relative;
    overflow: hidden;

    width: 95%;
    max-width: 600px;
    margin: 1em;
    padding: .5em;

    background: no-repeat center/cover url("/src/images/placeholder.jpg") darkgray;
    border-radius: 30px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 1);

    font-family: 'Open Sans', sans-serif;

    text-align: left;
}

.goalWidget::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.goalWidgetTitle {
    position: relative;
    z-index: 1;

    margin: 10px;

    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.goalWidgetContent {
    position: relative;
    z-index: 1;

    text-align: left;
}

.task {
    display: block;
    overflow: hidden;

    margin: 10px;

    color: white;
    font-size: 1.5em;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task::before {
    content: '';
    padding-right: .3em;
}

.redTask::before {
    border-left: 4px solid red;
}

.yellowTask::before {
    border-left: 4px solid yellow;
}

.greenTask::before {
    border-left: 4px solid yellowgreen;
}

.bigWidget {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.middleWidget {
    grid-column-start: span 2;
    grid-row-start: span 1;
}