.ingredientField {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin: 10px 0;

    font-family: 'Open Sans', sans-serif;
}

.ingredientFieldLabel {
    padding: 5px 5px 5px 0;

    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.ingredientFieldInput {
    padding: 5px 5px 5px 20px;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.ingredientFieldInput:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.ingredientFieldError {
    padding: 5px 5px 5px 0;

    font-size: 0.8em;
    font-weight: 600;
    color: #ff3939;
}
