.editingImageUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    margin: 20px 0;
}

.editingImageUploadLabel {
    display: inline-block;
    width: 100%;
    padding: 10px;

    background-color: #fff;
    border-radius: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;

    text-align: center;

    cursor: pointer;
}

.editingImageUploadLabel:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.editingImageUploadLabel:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.editingImageUploadInput {
    width: 0;
    height: 0;
}

.editingImageUploadStatus {
    padding: 5px 5px 5px 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

.editingImageUploadStatusSuccess {
    color: #99ff99;
}

.editingImageUploadStatusError {
    color: #ff3939;
}
