.startContainer {
    height: 100%;
    background: no-repeat center/cover;
    transition: background-image 0.5s ease-in-out;
}

.rocketLogo {
    width: 40px;
    height: 40px;
    background: no-repeat center/cover url("/src/images/start/_summit.png");
}
