.ideasCreateImageUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    margin: 20px 0;
}

.ideasCreateImageUploadLabel {
    display: inline-block;
    width: 100%;
    padding: 10px;

    background-color: #fff;
    border-radius: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;

    text-align: center;

    cursor: pointer;
}

.ideasCreateImageUploadLabel:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.ideasCreateImageUploadLabel:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.ideasCreateImageUploadInput {
    width: 0;
    height: 0;
}

.ideasCreateImageUploadStatus {
    padding: 5px 5px 5px 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

.ideasCreateImageUploadStatusSuccess {
    color: #99ff99;
}

.ideasCreateImageUploadStatusError {
    color: #ff3939;
}