.startBody {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
}

.startBody > * {
    padding: 0 2em;

    color: white;
    font-size: xx-large;
    text-align: center;

    cursor: pointer;
}

.startBody > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    letter-spacing: 2px;
}
