.infoFieldArray {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    margin: 30px 0;
}

.infoFieldArrayTitle {
    width: 100%;

    text-align: left;
    text-transform: uppercase;

    font-size: 1.5em;
    color: #fff;
}

.infoFieldArrayElement {
    width: 100%;
    margin: 10px 0;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}