.progressWidget {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    background: no-repeat center/cover url("/src/images/placeholder.jpg") darkgrey;
    border-radius: 30px;
}

.progressWidget::after {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
}

.progressWidgetDate {
    position: relative;
    z-index: 1;

    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;

    color: #fff;
}