.createProgressWrapper {
    height: 100%;
    background: no-repeat center/cover url("/src/images/profile/profileBg.png") green;
}

.createProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.createProgress > * {
    margin: 15px 0;
}

.dateProgressTitle {
    display: block;
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
}

.createProgressTitle {
    width: 100%;

    text-align: center;
    text-transform: uppercase;

    font-size: 2em;
    color: #fff;
}

.calendar {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
