.profileBody {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;

    height: 80%;
}

.profileBodyWidget {
    position: relative;
    overflow: hidden;

    width: 95%;
    max-width: 600px;
    margin: 1em;
    padding: .5em;

    background: no-repeat center/cover darkgrey;
    border-radius: 30px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 1);

    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.profileBodyWidget:first-of-type {
    background-image: url("/src/images/placeholder.jpg");
}

.profileBodyWidget:nth-of-type(2) {
    background-image: url("/src/images/placeholder.jpg");
}

.profileBodyWidget:last-of-type {
    background-image: url("/src/images/profile/camera.jpg");
}

.profileBodyWidget::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
}

.bigWidget {
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.middleWidget {
    grid-column-start: span 1;
    grid-row-start:  span 1;
}

.profileBodyWidgetTitle {
    position: relative;
    z-index: 1;

    margin: 10px;

    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.profileBodyWidgetContent {
    position: relative;
    z-index: 1;

    text-align: left;
}

.profileProperties {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 20px 10px;
    padding-left: .5em;

    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.profileProperties::before {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    border-left: 4px solid white;
}