.editingButtons {
    display: flex;
    justify-content: space-between;

    width: 60%;
    margin: 10px 0;
}

.editingButton {
    margin: 0 20px;
    padding: 10px;

    background-color: #fff;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;

    cursor: pointer;
}

.editingButton:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.editingButton:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.editingButton:first-of-type {
    margin-left: 0;
}

.editingButton:last-of-type {
    margin-right: 0;
    flex-grow: 1;
}

.cancelButton {
    background-color: #ff7979;
}
