.progressButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;
}

.progressButton {
    margin: 20px;
    padding: 15px 20px;

    background-color: #fff;

    border: none;
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 600;


    cursor: pointer;
}

.progressButton:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.progressButton:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.progressButton:first-of-type {
    margin-left: 0;
}

.progressButton:last-of-type {
    margin-right: 0;
}

.deleteButton {
    background-color: #ff7979;
}