.nutritionWidget {
    position: relative;
    overflow: hidden;

    width: 95%;
    max-width: 600px;
    margin: 1em;
    padding: .5em;

    background: no-repeat center/cover url("/src/images/placeholder.jpg") darkgrey;
    border-radius: 30px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 1);

    font-family: 'Open Sans', sans-serif;

    text-align: left;
}

.nutritionWidget::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.nutritionWidgetTitle {
    position: relative;
    z-index: 1;

    margin: 10px;

    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.nutritionWidgetContent {
    position: relative;
    z-index: 1;

    margin: 10px;
    padding-left: 1em;

    line-height: 2em;
}

.nutritionWidgetContent::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    border-left: 4px solid white;
}

.widgetIngredient {
    display: block;

    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
}

.bigWidget {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.middleWidget {
    grid-column-start: span 2;
    grid-row-start: span 1;
}
