.trainingCreateField {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    margin: 20px 0;

    font-family: 'Open Sans', sans-serif;
}

.trainingCreateFieldLabel {
    padding: 10px 10px 10px 0;

    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.trainingCreateFieldInput {
    padding: 20px;

    border: none;
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.trainingCreateFieldInput:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.trainingCreateFieldError {
    padding: 5px 5px 5px 0;

    font-size: 0.8em;
    font-weight: 600;
    color: #ff3939;
}