.trainingCreateForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    overflow-y: scroll;
}

.trainingCreateForm::-webkit-scrollbar {
    display: none;
}

.trainingCreateFieldLabel {
    padding: 10px 10px 10px 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.trainingCreateFormTitle {
    width: 100%;
    margin-top: 20px;

    text-align: center;
    text-transform: uppercase;

    font-size: 2em;
    color: #fff;
}

.trainingCreateSelect {
    margin: 5px 5px 5px 0;
    padding: 7px;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    cursor: pointer;
}

.trainingCreateSelect:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.trainingCreateSelect:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}