.buttons {
    display: flex;
    justify-content: space-between;

    width: 40%;
    margin-top: 30px;
}

.qButton {
    margin: 0 20px;
    padding: 10px;

    background-color: #fff;

    border: none;
    border-radius: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;

    cursor: pointer;
}

.qButton:hover {
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.qButton:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt #c9c9c9;
}

.qButton:first-of-type {
    margin-left: 0;
}

.qButton:last-of-type {
    margin-right: 0;
}