.infoForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.infoFormTitle {
    width: 100%;

    text-align: center;
    text-transform: uppercase;

    font-size: 2em;
    color: #fff;
}