.signUp {
    height: 100%;
    background: no-repeat center/cover url("/src/images/start/startBg.jpg");
}

.rocketLogo {
    width: 40px;
    height: 40px;
    background: no-repeat center/cover url("/src/images/start/_summit.png");
}
