.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60%;
    max-height: 100px;
    padding: 20px;

    background-color: white;
    border-radius: 30px;

    font-size: 1.5em;
    text-transform: uppercase;
}