.infoField {
    width: 60%;
    margin: 20px 0;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}
