.sectionFooter {
    position: relative;
    width: 100%;
    height: 10%;
}

.serviceNavigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);


    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    max-width: 500px;
    height: 100%;
    padding: 10px;
}

.navItem {
    margin: 0 .5em;
    padding: .3em 1em;

    background-color: white;
    border-radius: 30px;

    color: black;
    font-size: 1.5em;
}

.activeNavItem {
    background-color: black;
    color: white;
}

.createLink {
    position: absolute;
    top: 50%;
    left: min(80%, calc(50% + 300px));
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    background-color: white;
    border-radius: 30px;

    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
}