.loginButtons {
    position: relative;
    width: 100%;
    height: 10%;
}

.serviceNavigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    max-width: 500px;
    height: 100%;
    padding: 10px;
}

.navItem {
    display: flex;
    margin: 0 .5em;
    padding: .3em 1em;

    background-color: white;
    border-radius: 30px;

    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
}


.signInLogo {
    width: 40px;
    height: 40px;
    background: no-repeat center/cover url("/src/images/start/signIn.jpg");
}

.signUpLogo {
    width: 40px;
    height: 40px;
    background: no-repeat center/cover url("/src/images/start/signUp.jpg");
}