@font-face {
  font-family: 'Conv_17285';
  src: url('/src/fonts/17285.eot');
  src: url('/src/fonts/17285.woff') format('woff'),
  url('/src/fonts/17285.ttf') format('truetype'),
  url('/src/fonts/17285.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Conv_17285', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
