.infoFieldArray {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    margin: 30px 0;
}

.infoFieldArrayTitle {
    width: 100%;

    text-align: left;
    text-transform: uppercase;

    font-size: 1.5em;
    color: #fff;
}

.infoFieldArrayElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    margin: 10px 0;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    font-family: 'Open Sans', sans-serif;
}

.infoFieldArrayElementTitle {
    margin: 10px 10px 10px 0;

    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
}

.infoFieldArrayElementDescription {
    margin: 5px 5px 5px 0;

    font-size: 1em;
    font-weight: 400;
    color: #fff;
}
